<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="../../Logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="basedir" value="${basedir}" />

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="all"
            fileName="${var:basedir}/Logs/ArTool.log"
            archiveFileName="${var:basedir}/Logs/Archive/ArTool-${date:format=yyyyMMdd}.log"
            archiveEvery="Day"
            maxArchiveFiles="1"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="apiRequestLogs"
            fileName="${var:basedir}/Logs/ArToolRequests.log"
            archiveFileName="${var:basedir}/Logs/Archive/ArToolRequests-${date:format=yyyyMMdd}.log"
            archiveEvery="Day"
            maxArchiveFiles="1"
            layout="${message} ${exception}" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Error" writeTo="all" />
    <logger name="LogApiRequest.Core.LogApiRequestMiddleware" minlevel="Info" writeTo="apiRequestLogs" />
  </rules>
</nlog>